.input-area-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.25rem;
}
.label {
  font-size: 0.875rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
}
.defaultInput {
  height: 35px;
  border-radius: 4px;
  padding: 10px;
  font-size: 1rem;
  max-width: 600px;
  box-shadow: 0 0 0 0;
  outline: 0;

  background-color: var(--input);
  border: 1px solid var(--input);
  color: var(--text);
}
.defaultInput:disabled {
  cursor: not-allowed;
  background-color: var(--disabled-bg);
  border: 1px solid var(--disabled-bg);
  color: var(--disabled-text);
}
.defaultInput:focus {
  color: var(--text);
  border: 1px solid var(--input);
  outline: 0;
}
.defaultInput.error {
  color: red;
  border: 1px solid red;
  outline: invert;
}
.defaultInput.error::placeholder {
  color: red;
  opacity: 0.7;
}

.text-error {
  color: red;
  margin-top: 2px;
  font-size: 12px;
}
