.defaultInput {
  margin-bottom: 1rem;
  height: 35px;
  border-radius: 4px;
  border: 0;
  padding: 10px;
  font-size: 15px;
  background-color: var(--input);
  max-width: 600px;
  color: var(--text);
}
.defaultInput:disabled {
  cursor: not-allowed;
  background-color: var(--disabled-bg);
  color: var(--disabled-text);
}
