.sidebar {
  background-color: var(--primary);
  overflow: hidden;
}
.sidebar-image-area {
  background: url("../../assets/cover.png");
  background-color: var(--primary);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar-image-area img {
  width: 90px;
  height: 90px;
  display: block;
  margin: auto;
  border-radius: 50%;
  object-fit: cover;
  filter: drop-shadow(2px 3px 6px #121212);
  -webkit-filter: drop-shadow(2px 3px 6px #121212);
}
.sidebar-link {
  padding: 16px;
  display: flex;
  text-decoration: none;
  flex-direction: row;
  color: rgba(255, 255, 255, 0.7);
  align-items: center;
  transition: ease-in-out 300ms;
}
.sidebar-link.active {
  background-color: var(--accent);
  color: rgba(255, 255, 255, 1);
}
.sidebar-link svg {
  margin-right: 0.5rem;
}
.sidebar-link:hover {
  background-color: var(--accent);
  color: var(--text-inverse);
}
.menu {
  display: none;
}
.menu-toggle {
  display: none;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    min-height: max-content;
    position: sticky;
    top: 0;
  }
  .sidebar-link {
    float: left;
  }
  .sidebar-image-area {
    display: none;
  }
  .sidebar-link svg {
    display: none;
  }
}
@media screen and (max-width: 420px) {
  .sidebar {
    overflow: hidden;
    z-index: 100;
  }
  .sidebar-link {
    float: none;
    text-align: center;
  }
  .sidebar-link svg {
    display: none;
  }
  .menu-toggle {
    display: block;
    text-align: end;
    padding: 0.5rem 0;
  }
  .menu-btn {
    padding: 0.5rem;
    margin-right: 1rem;
  }
  .menu-btn:hover {
    background-color: var(--background-dark);
    color: var(--text-inverse);
  }
  .menu-close {
    display: none;
  }
  .menu-open {
    display: block;
  }
}
