:root {
  --background: #efefef;
  --background-dark: #121212;

  --input: #ffffff;
  --shape: #eaeaec;

  --primary: #181c2e;
  --accent: #2a3152;

  --text: #000000;
  --text-inverse: #ffffff;

  --disabled-bg: #cacaca;
  --disabled-text: #5f5f5f;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
}
body {
  font-family: sans-serif;
  font: 14px;
  background-color: var(--background);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
}
